<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.gim.deploy.dao.ImageDefaultConfDao">
	<resultMap id="imageConf"
		type="com.asiainfo.gim.deploy.domain.ImageDefaultConf">
		<id property="id" column="id" />
		<result property="imageName" column="image_name" />
		<result property="template" column="template" />
		<result property="pkgList" column="pkglist" />
	</resultMap>

	<insert id="createImageDefaultConf" parameterType="com.asiainfo.gim.deploy.domain.ImageDefaultConf"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		deploy_image_default_conf(image_name, template, pkglist)
		value(#{imageName},#{template},#{pkgList});
	</insert>

	<update id="updateImageDefaultConf" parameterType="com.asiainfo.gim.deploy.domain.ImageDefaultConf">
		update
		deploy_image_default_conf set template = #{template}, pkglist = #{pkgList} where imageName = #{imageName};
	</update>

	<select id="listImageDefaultConf" resultMap="imageConf">
		select * from
		deploy_image_default_conf;
	</select>

	<select id="findImageDefaultConfByImageName" resultMap="imageConf"
		parameterType="java.lang.String">
		select * from deploy_image_default_conf where
		image_name=#{imageName};
	</select>

	<delete id="deleteImageDefaultConfByImageName" parameterType="java.lang.String">
		delete from deploy_image_default_conf where image_name = #{imageName};
	</delete>

</mapper>