<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.asiainfo.gim.deploy.dao.TemplateVolGroupConfDao">
	<resultMap id="templateVolGroup"
		type="com.asiainfo.gim.deploy.domain.TemplateVolGroupConf">
		<id property="id" column="id" />
		<result property="templateId" column="template_id" />
		<result property="name" column="name" />
		<result property="partition" column="partition" />
		<result property="noFormat" column="noformat" />
		<result property="useExisting" column="useexisting" />
		<result property="preSize" column="presize" />
	</resultMap>

	<insert id="createTempVolGroupConf" parameterType="com.asiainfo.gim.deploy.domain.TemplateVolGroupConf"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		deploy_template_volgroup_conf(template_id, `name`, partition, noformat, useexisting, presize)
		value(#{templateId},#{name},#{partition},#{noFormat},#{useExisting},#{preSize});
	</insert>

	<update id="updateTempVolGroupConf" parameterType="com.asiainfo.gim.deploy.domain.TemplateVolGroupConf">
		update
		deploy_template_volgroup_conf set 
		template_id = #{templateId}, 
		`name` = #{name}, 
		partition = #{partition}, 
		noformat = #{noFormat}, 
		useexisting = #{useExisting}, 
		presize = #{preSize}, 
		where id = #{id};
	</update>

	<select id="listTempVolGroupByTemplateId" resultMap="templateVolGroup"
		parameterType="java.lang.String">
		select 
		* 
		from
		deploy_template_volgroup_conf
		where template_id = #{templateId};
	</select>

	<delete id="deleteTempVolGroupConfByTemplateId" parameterType="java.lang.String">
		delete from deploy_template_volgroup_conf where template_id = #{templateId};
	</delete>

	<delete id="deleteTempVolGroupConf" parameterType="java.lang.Integer">
		delete from deploy_template_volgroup_conf where id = #{id};
	</delete>

</mapper>